h1{
    text-align: center;
}
img{
    max-width: 300px;
    height: auto;
    align-self: center;
}
body{
    background-color: grey;
}

/* Styles for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.support{
    text-align: center;
    justify-content: center;
}
.container {
    position: relative;
}

.normal-pic {
    display: block;
    width: 100%;
    height: auto;
}

.watermark {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    pointer-events: none;
}
